{% extends "::layout.html.twig" %}

{% block content %}
    <div id="js_check_me" class="margin-top-75 subcontainer">
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" id="choose_package" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {% if(part) %}
                        {{ part.name}}
                    {% else %}
                        Choose words package
                    {% endif %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for part in parts %}
                        <li><a href="{{ path('check_me', {'part_id': part.id})}}">{{part.name}}</a></li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <div class="float-right">
            <button id="js-config-page-button" type="button" class="btn btn-default btn">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
            <div id="js-config-page-dialog" title="Personalize this page">
                <label id="js-light-switcher" class="switch-light well">
                    <input type="checkbox">
                    <span>
                        Light
                        <span>Off</span>
                        <span>On</span>
                    </span>
                    <a class="btn btn-primary"></a>
                </label>
                <label id="js-progress-bar-switcher" class="switch-light well">
                    <input type="checkbox">
                    <span>
                        Progress bar
                        <span>Off</span>
                        <span>On</span>
                    </span>
                    <a class="btn btn-primary"></a>
                </label>
            </div>
        </div>
        {% if(word) and (part) %}
            <div class="center-block checkme-box">
                <div class="question-answer-block">
                    <div id="question" class="label label-success">{{ word.polish }}</div>
                    <div id="answer" class="label label-default">{{ word.english }}</div>
                </div>
                <br class="clear-both" />
                <div class="form-block">
                    <p>
                        {{ form(form)}}
                    </p>
                </div>
                <br class="clear-both" />
                <div class="restart-block">
                    <p><button id="js-restart-button" type="button" class="btn btn-default btn-sm navbar-btn restart-button">Restart</button></p>
                </div>
                <div id="js-restart-dialog-confirm" data-ajax-package="{{ part.id }}" data-ajax-route="{{ path('restart') }}" title="Do you want to restart?">
                    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you really want to restart?</p>
                </div>
            </div>
        {% endif %}
        {% if(progress) %}
            <div class="progress">
                <div id="js-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="{{ progress.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percentage }}%;">
                    {{ progress.percentage | round(2, 'floor')  }}%
                </div>
            </div>
            <div  class="drawn-status"><span class="drawn">{{ progress.alreadyDrawnAmount }}</span>&nbsp;/&nbsp;<span class="all">{{ progress.allWordsAmount }}</span></div>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {

            /**
             * Set background color based on cookies value
             */
            if (null !== $.cookie('backgroundColor')) {
                $('body').css('backgroundColor', $.cookie('backgroundColor'));
            }
            
            /**
             * Set light switcher at ON or OFF based on background color
             */
            if($('body').css('backgroundColor') === 'rgb(51, 51, 51)'){
                $('#js-light-switcher').find('input[type="checkbox"]').prop('checked', false);
            } else {
                $('#js-light-switcher').find('input[type="checkbox"]').prop('checked', true);
            }
            
            /**
             * Set progress bar based on cookies value
             */
            if (null !== $.cookie('progressBar')) {
                if ($.cookie('progressBar') === 'false') {
                    $('.progress').hide();
                    //set progress bar switcher OFF
                    $('#js-progress-bar-switcher').find('input[type="checkbox"]').prop('checked', false);
                }
                if ($.cookie('progressBar') === 'true') {
                    $('.progress').show();
                    //set progress bar switcher ON
                    $('#js-progress-bar-switcher').find('input[type="checkbox"]').prop('checked', true);
                }
            }
            
        });
    </script>
{% endblock %}